<template>
    <h1 #h1>Hello World !</h1>
    <child-component #firstChild></child-component>

    <div [attr.data-value2]="userSignal.lastName" [attr.data-value3]="countSignal" [attr.data-value]="userSignal.firstName">cela fonction exceptionnelement bien {{ countSignal }} {{userSignal.firstName}}</div>

    <img [src]="userSignal.lastName" alt="">

    <p>otherName dddsss{{userSignal.firstName}} firstName ddldkkdkd {{userSignal.firstName}} {{userSignal.firstName}}  {{countSignal}} ddd {{userSignal.lastName}} dddddlldl</p>
    <br>
    <br>

    <ul *for="users">
        <li>{{name}} is {{age}} years old</li> 
        <child-component #secondChild></child-component>
    </ul>

    <child-component #secondChild></child-component>
    <other-component #thirdChild></other-component>
    <child-component #secondChild></child-component>

    <button (click)="toggleDisableButton">toggleDisableButton</button>
    <button [disabled]="isDisabled" (click)="increment">Click me</button>

    <p>1: {{countSignal}} il doit être reactive</p>

    <div>
        <button (click)="increment2">Click me 2</button>
        <div>
            
            <div>
                <child-component #secondChild></child-component>
            </div>
        </div>
    </div>
</template>