<template>
    <h1 #h1>Hello World !</h1>
   <!--<child-component #firstChild count="countSignal"></child-component>--> 

    <div [attr.data-value2]="userSignal.lastName" [attr.data-value3]="countSignal" [attr.data-value]="userSignal.firstName">cela fonction exceptionnelement bien {{ countSignal }} {{userSignal.firstName}}</div>

    <img [src]="userSignal.lastName" alt="">

    <p>otherName dddsss{{userSignal.firstName}} firstName ddldkkdkd {{userSignal.firstName}} {{userSignal.firstName}}  {{countSignal}} ddd {{userSignal.lastName}} dddddlldl</p>
    <br>
    <br>

    <ul *for="users">
        <li>{{name}} is {{age}} years old {{complexObj.prop1}}</li> 
        <p>{{index}}</p>
        <child-component #secondChild count="countSignal"></child-component>

        <ul *for="users">
            <p>{{index}}</p>
            <li>{{name}} is {{age}} years old</li> 
            <p>1: {{countSignal}} il doit être reactive</p>
            <child-component #secondChild count="countSignal"></child-component>
        </ul>
    </ul>

    
    <!-- <child-component #secondChild count="countSignal"></child-component>
    <other-component #thirdChild count="countSignal"></other-component>
    <child-component #secondChild count="countSignal"></child-component> -->

    <button (click)="toggleDisableButton">toggleDisableButton</button>
    <button (click)="deleteItem">delete item</button>
    <button [disabled]="isDisabled" (click)="increment">Click me</button>

    <p>1: {{countSignal}} il doit être reactive</p>


    <div>
        <button (mouseenter)="mouseenter" (click)="increment2">Click me 2</button>
        <div>
            
            <div>
       <!--<child-component #secondChild count="countSignal"></child-component>-->         
            </div>
        </div>
    </div>
</template>